<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
</head>
<body>
<h1>XPS Notice Page.</h1>
<h2>{{comments}}</h2>
<h3>Function List</h3>
<ul>[&nbsp;
  {% for idx in button_list %}
  <!--<li>{{ idx }}</li>-->
  <a href={{ idx }}>{{ idx }}</a>&nbsp;
  {% endfor %}
  ]
</ul>
</body>
</html>