<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
</head>
<body>
<h1>{{ title }}</h1>

<h3>Bunch List</h3>
<ul>

  {% for idx in bunch_list %}
  <li>{{ idx }}</li>
  {% endfor %}
</ul>
<p>{{comments}}</p>
<form method="post" action="/create_bunch">
  <div>
      <label for="bunch name : "> Bunch Name :  </label>
      <input type="text" name="bunch_name">
      <button type="submit">Create Bunch</button>
  </div>
  <div class='button'>
      
  </div>
</form>
<h3>Function List</h3>
<ul>[&nbsp;
  {% for idx in button_list %}
  <!--<li>{{ idx }}</li>-->
  <a href={{ idx }}>{{ idx }}</a>&nbsp;
  {% endfor %}
  ]
</ul>
</body>
</html>