<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/tree.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"  rel="stylesheet" id="bootstrap-css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<script type="text/javascript">
    google.charts.load('current', {packages:["orgchart"]});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Name');
      data.addColumn('string', 'Manager');
      data.addColumn('string', 'tooltip');
      

      // For each orgchart box, provide the name, manager, and tooltip to show.
      let sk_name = '<div style="color:red; font-style:italic; font-size:large">StoreKeeper</div>'
      data.addRows([
          [sk_name, '', '']
        ]);
      
      let p_name = sk_name;
      let column_count = 0;
      let max_colum_cnt = 10;

      for(let idx = 0; idx < wh_list.length; idx++) //(idx in wh_list)
      {
        let name = wh_list[idx]['wi_name'];
        let ip_port = wh_list[idx]['warehouse_id'].split(":");
        let data_cnt = wh_list[idx]['warehouse_data_cnt'].toString();
        let data_size = wh_list[idx]['data_size'].toString();
        name = '<div style="color:red; font-style:italic; font-size:large">' + name + "</div><br>"+ip_port+"<br>"+data_cnt+" (EA)<br>"+data_size + "(Kbytes)";
        tooltip = "<br>IP : "+ip_port[0]+"<br>Port : "+ip_port[1]+"<br>Data Size : "+data_cnt+"<br>Memory Usage : "+data_size;
        wh_list[idx]['node_name'] = name;
        data.addRow([name, p_name, tooltip]);
        column_count++;
        if(column_count%max_colum_cnt == 0)
        {
          p_name = wh_list[idx-max_colum_cnt+1]['node_name'];
          column_count = 0;
        }
        if(p_name != sk_name)
          p_name = wh_list[idx-max_colum_cnt+1]['node_name'];
      }
      
      // Create the chart.
      var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
      // Draw the chart, setting the allowHtml option to true for the tooltips.
      const option = {'allowHtml':true, 'color':'#ffffff', 'size':'small'}
      chart.draw(data, option);
    }

    function wh_info_show(id) 
    {
      var box = document.getElementById(id);
      if (box.classList.contains('hidden')) {
        box.classList.remove('hidden');
        setTimeout(function () {
          box.classList.remove('visuallyhidden');
        }, 20);
      } else {
        box.classList.add('visuallyhidden');    
        box.addEventListener('transitionend', function(e) {
          box.classList.add('hidden');
        }, {
          capture: false,
          once: true,
          passive: false
        });
      }
    }


    function bun_sel()
    {
      var langSelect = document.getElementById("bunch_sel"); 
      var selectValue = langSelect.options[langSelect.selectedIndex].value; 
      if(selectValue != 0)
      {
        var selectText = langSelect.options[langSelect.selectedIndex].text; 
        source = new EventSource("/scan_bunch?name="+selectText);
        source.addEventListener('message', function cb(e) {
            //console.log(e.data);
            let item_list = JSON.parse(e.data);
            chart_data = []
            for(let i = 0; i < item_list.length; i++)
              chart_data.push(JSON.parse(item_list[i]));
            draw_bunch_chart(selectText, chart_data);
            source.close()
            e.currentTarget.removeEventListener(e.type, cb);
        }, false);
      }
    }
    var wh_list = null;
    var MSChart = null;
    var CPUChart = null;
    var rxSChart = null;
    var txSChart = null;
    var sumChart = null;
  function random_rgba() {
    var o = Math.round, r = Math.random, s = 255;
    //return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + r().toFixed(1) + ')';
    return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + 0.7 + ')';
  }

  function init(wh_info) {
    wh_list = {{ wh_list|tojson }};
    draw_bunch_chart("None", []);
    console.log(wh_list)
    const config_temp = {
            type: 'line',
            data: {
                labels: [],
                datasets: [],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'temp'
                },
                tooltips: {
                    mode: 'index',
                    enabled : false,
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                elements: {
                    point:{
                        radius: 0
                    }
                },
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };
        const config_MS = JSON.parse(JSON.stringify(config_temp));
        //config_MS.type = 'bar';
        config_MS.options.title.text = 'Memory usage(Kbytes)';
        config_MS.options.scales.yAxes[0].scaleLabel.labelString = 'Kbytes';
        const config_CPU = JSON.parse(JSON.stringify(config_temp));
        config_CPU.options.title.text = 'CPU Usage(%)';
        config_CPU.options.scales.yAxes[0].scaleLabel.labelString = '%';
        //config_CPU.options.legend.display = true;
        const config_rxS = JSON.parse(JSON.stringify(config_temp));
        config_rxS.options.title.text = 'Rx(Byte/Sec)';
        config_rxS.options.scales.yAxes[0].scaleLabel.labelString = 'Byte';
        const config_txS = JSON.parse(JSON.stringify(config_temp));
        config_txS.options.title.text = 'Tx(Byte/Sec)';
        config_txS.options.scales.yAxes[0].scaleLabel.labelString = 'Byte';
        const config_sum_chart = {
          type: 'bubble',
          data: [],
          options: {
            title: {
                    display: true,
                    text: 'Summry'
                },
            animation: {
                      duration: 0
                  },
            legend: {
                display: false
            },
            scales: {
                    xAxes: [{
                        display: true,
                        ticks: {
                            min: 0, // minimum value
                            max: 5000 // maximum value
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Tx'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            min: 0, // minimum value
                            max: 5000 // maximum value
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Rx'
                        }
                    }]
                }
          }
        };
        //console.log(wh_info);
        let wh = JSON.parse(wh_info)
        let config_list = [];
        config_list.push(config_MS)
        config_list.push(config_CPU)
        config_list.push(config_rxS)
        config_list.push(config_txS)
        let pos = 0;
        for (const property in wh) {
          let color = random_rgba();
          for(let i = 0; i < config_list.length; i++)
          {
            let item = {};
            item['label'] = property;
            item['backgroundColor'] = color;
            item['borderColor'] = color;
            item['data'] = [];
            item['fill'] = false;
            for(let fi = 0; fi < wh_list.length; fi++)
            {
              wh_list[fi]['chart_view'] = true;
              if(wh_list[fi]['wi_name'] == property)
              {
                wh_list[fi]['bg'] = color;
                break;
              }
            }

            config_list[i].data.datasets.push(item);
          }
          pos++;
        }
        const context_MS = document.getElementById('MS').getContext('2d');
        const context_CPU = document.getElementById('CPU').getContext('2d');
        const context_rxS = document.getElementById('rxS').getContext('2d');
        const context_txS = document.getElementById('txS').getContext('2d');
        const context_sum_chart = document.getElementById('sum_chart').getContext('2d');
        MSChart = new Chart(context_MS, config_MS);
        CPUChart = new Chart(context_CPU, config_CPU);
        rxSChart = new Chart(context_rxS, config_rxS);
        txSChart = new Chart(context_txS, config_txS);
        sumChart = new Chart(context_sum_chart, config_sum_chart);
        const source = new EventSource("/chart-data");
        source.onmessage = function (event) 
        {
          const item = JSON.parse(event.data);
          
          let init = false;
          let pos = 0;
          
          let sum_item = {
            label: '',
            data: [{
              x: 0,
              y: 0,
              r: 0
            }],
            backgroundColor: 'rgb(0, 0, 0)',
            borderColor : 'rgb(0, 0, 0)'
          }
          config_sum_chart.data.datasets = [];
          for (idx in item)
          {
            if (config_MS.data.labels.length === 60) 
            {
              if(!init)
              {
                config_MS.data.labels.shift();
                config_CPU.data.labels.shift();
                config_rxS.data.labels.shift();
                config_txS.data.labels.shift();
              }
              config_MS.data.datasets[pos].data.shift();
              config_CPU.data.datasets[pos].data.shift();
              config_rxS.data.datasets[pos].data.shift();
              config_txS.data.datasets[pos].data.shift();
            }
            if(!init)
            {
              config_MS.data.labels.push(item[idx]['MS'].time);
              config_CPU.data.labels.push(item[idx]['CPU'].time);
              config_rxS.data.labels.push(item[idx]['rxS'].time);
              config_txS.data.labels.push(item[idx]['txS'].time);
              init = true;
            }
            let set_font=function(obj, data)
            {
              
              if(obj.textContent != data)
              {
                obj.style.color = 'red';
                //obj.style['before_color'] = obj.style.backgroundColor;
                obj.style.backgroundColor="lavenderblush";
              }
              else
              {
                obj.style.color = '';
                obj.style.backgroundColor="";
                //obj.style.backgroundColor = obj.style['before_color'];
              }
              obj.textContent = data;
            };
            config_MS.data.datasets[pos].data.push(item[idx]['MS'].value);
            config_CPU.data.datasets[pos].data.push(item[idx]['CPU'].value);
            config_rxS.data.datasets[pos].data.push(item[idx]['rxS'].value);
            config_txS.data.datasets[pos].data.push(item[idx]['txS'].value);
            let objrow = document.getElementById("t_"+idx+"_tr");

            

            objrow.style.backgroundColor = config_txS.data.datasets[pos]['borderColor'].replace(",0.7",",0.3");
            let objitem = document.getElementById("t_"+idx+"_MS");
            set_font(objitem, item[idx]['MS'].value+" [Kbytes]");
            objitem = document.getElementById("t_"+idx+"_CPU");
            set_font(objitem, item[idx]['CPU'].value+" [%]");
            objitem = document.getElementById("t_"+idx+"_Rx");
            set_font(objitem, item[idx]['rxS'].value+" [bytes]");
            objitem = document.getElementById("t_"+idx+"_Tx");
            set_font(objitem, item[idx]['txS'].value+" [bytes]");
            sum_item.label = config_txS.data.datasets[pos]['label'];
            sum_item.backgroundColor = config_txS.data.datasets[pos]['backgroundColor'];
            sum_item.borderColor = config_txS.data.datasets[pos]['borderColor'];
            if(wh_list[pos]['chart_view'] == false)
              objrow.style.backgroundColor = 'rgba(180, 180, 180, 0.5)';
            else
            {
              sum_item.data[0]['x'] = parseInt(item[idx]['txS'].value);
              sum_item.data[0]['y'] = parseInt(item[idx]['rxS'].value);
              sum_item.data[0]['r'] = parseInt(item[idx]['CPU'].value)/4+10;
            }
            config_sum_chart.data.datasets.push(JSON.parse(JSON.stringify(sum_item)));
            pos++;
          }
          MSChart.update();
          CPUChart.update();
          rxSChart.update();
          txSChart.update();
          sumChart.update();
        }
        
  }

  function draw_bunch_chart(bunch_name, chart_data)
    {
      const data = {
        labels: [],
        datasets: [{
          axis: 'y',
          label: 'Bunch Data Count by WH',
          data: [],
          fill: false,
          backgroundColor: [],
          borderColor: [],
          borderWidth: 2
        }]
      };
      for(let i = 0; i < chart_data.length; i++)
      {
        data.labels.push(chart_data[i]['wh_name']);
        data.datasets[0].data.push(chart_data[i]['count']);
        //data.datasets[0].backgroundColor.push(wh_list[i]['bg']);
        let rgba = wh_list[i]['bg'];
        rgba = rgba.replace(",0.7", ",0.2");
        data.datasets[0].backgroundColor.push(rgba);
        let rgb = wh_list[i]['bg'].replace(",0.7", ",0.8");
        data.datasets[0].borderColor.push(rgb);
      }
      const config = {
        type: 'bar',
        data,
        options: {
          indexAxis: 'y',
          scales: {
            yAxes: [{
              ticks: {
                min: 0
              }
            }]
          }
        }
      };
      const context_bunch = document.getElementById('bunch_chart').getContext('2d');
      const bunchChart = new Chart(context_bunch, config);
      bunchChart.update();
    }
    function select_wh(wh_name)
    {
      for(let idx = 0; idx < wh_list.length; idx++)
      {
        if(wh_list[idx]['wi_name'] == wh_name)
        {
          if(wh_list[idx]['chart_view'])
          {
            wh_list[idx]['chart_view'] = false;
            MSChart.config.data.datasets[idx].hidden = true;
            CPUChart.config.data.datasets[idx].hidden = true;
            rxSChart.config.data.datasets[idx].hidden = true;
            txSChart.config.data.datasets[idx].hidden = true;
            sumChart.config.data['datasets'][idx].hidden = true;
            let objrow = document.getElementById("t_"+wh_name+"_tr");
            objrow.style.backgroundColor = 'rgba(100, 100, 100, 0.5)';
            let objname = document.getElementById("t_"+wh_name+"_name");
            let del_tag = document.createElement( 'del' );
            del_tag.textContent = objname.textContent;
            objname.textContent = "";
            objname.appendChild( del_tag );
          }
          else
          {
            wh_list[idx]['chart_view'] = true;
            MSChart.config.data.datasets[idx].hidden = false;
            CPUChart.config.data.datasets[idx].hidden = false;
            rxSChart.config.data.datasets[idx].hidden = false;
            txSChart.config.data.datasets[idx].hidden = false;
            sumChart.config.data['datasets'][idx].hidden = false;
            let objrow = document.getElementById("t_"+wh_name+"_tr");
            objrow.style.backgroundColor = MSChart.config.data.datasets[idx]['borderColor'].replace(",0.7",",0.3");
            let objname = document.getElementById("t_"+wh_name+"_name");
            let del_tag = objname.getElementsByTagName("del")[0];
            objname.textContent = del_tag.textContent;
            objname.removeChild(del_tag);
          }
          /*MSChart.update();
          CPUChart.update();
          rxSChart.update();
          txSChart.update();
          sumChart.update();*/
        }
      }
      
    }
</script>
<body class="body_def" onload="init('{{wh_info}}');" style="background-color:'#e9e9e9' ;">
<!--<h1>XPS Info page.</h1>
<h2>Wearhouse Node Count  : {{ wh_count }}(EA)</h2>-->
<style>
    #chart_div .google-visualization-orgchart-table {
        width: 500px;
        height: 250px;
    }
    .google-visualization-orgchart-table td {
        font-family: NotoSans;
    }
</style>

<p>
  <button class="w-btn-outline w-btn-blue-outline" type="button" onclick="wh_info_show('info_div')">
    System Infomations
  </button>
  <img src="{{url_for('static', filename='img/logo.png')}}" align="middle" width="90"/>
    <img src="{{url_for('static', filename='img/ci.png')}}" align="middle" width="160"/>
    

    <div id="info_div" class="box">
      <table class="itable-fill">
        <thead class="ith">
          <tr class="itr">
            <th class="ith">WH Name</th>
            <th class="ith" style="width: 80px;">IP</th>
            <th class="ith" style="width: 70px;">Port</th>
            <th class="ith" style="width: 180px;">Memory usage</th>
            <th class="ith" style="width: 120px;">CPU usage</th>
            <th class="ith">Rx</th>
            <th class="ith">Tx</th>
          </tr>
          </thead>
          <tbody class="itable-hover">
            {% for idx in wh_list %}
              
            <tr class="itr" id="t_{{idx['wi_name']}}_tr" onclick="select_wh('{{idx['wi_name']}}')">
              <td class="itd" style="text-align: center;" id="t_{{idx['wi_name']}}_name">{{idx['wi_name']}}</td>
              <td class="itd">{{idx['ip']}}</td>
              <td class="itd">{{idx['port']}}</td>
              <td class="itd" id="t_{{idx['wi_name']}}_MS">0 [Kbytes]</td>
              <td class="itd" id="t_{{idx['wi_name']}}_CPU">0 [%]</td>
              <td class="itd" id="t_{{idx['wi_name']}}_Rx">0 [bytes]</td>
              <td class="itd" id="t_{{idx['wi_name']}}_Tx">0 [bytes]</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      
    </div>
</p>
<p>
  <button class="w-btn-outline w-btn-pink-outline" type="button" onclick="wh_info_show('rt_chart_div')">
    RT Chart
  </button>
  
  <div id="rt_chart_div"  class="box">
  <table>
    <tr>
      <td colspan="2">
        
        <canvas id="CPU"  width="300" height="160"></canvas>
      </td>
      <td>
        <canvas id="sum_chart" width="300" height="320"></canvas>
      </td>
    </tr>
    <tr>
      <td>
          <canvas id="MS" width="300" height="320"></canvas>
      </td>
      
      <td>
        <canvas id="txS" width="300" height="320"></canvas>
      </td>
      <td>
        <canvas id="rxS" width="300" height="320"></canvas>
      </td>
    </tr>
    <tr>
    </tr>
  </table>
  </div>
  </p>
<p>
  <button class="w-btn-outline w-btn-blue-outline" type="button" onclick="wh_info_show('chart_div')">
    Diagram
  </button>
    <div id="chart_div" class="box visuallyhidden hidden"></div>
  </p>
  <p>
  <button class="w-btn-outline w-btn-blue-outline" type="button" onclick="wh_info_show('bunch_div')">
    Bunch List
  </button>
  <div id="bunch_div" class="box visuallyhidden hidden">
  
    <select name="likeLanguage" id="bunch_sel" class="pl" onchange="bun_sel()">
      <option value="0" selected>---Bunch List---</option>
      {% for idx in bunch_list %}
      <li>{{ idx }}</li>
      <option value="{{ idx }}">{{ idx }}</option>
      {% endfor %}
    </select>
    <canvas id="bunch_chart" width="600" height="220"></canvas>
  </div>
  </p>

<h3>Menu</h3>
<ul>[&nbsp;
  {% for idx in button_list %}
  <a href={{ idx }}>{{ idx }}</a>&nbsp;
  {% endfor %}
  ]
</ul>
</body>
</html>